@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
a,
button {
  font-family: "Orbitron", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}
